<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Hello World!</title>
</head>
<body ng-app="myApp" ng-controller="myController as vm">

<h1 ng-if="vm.lastwinner"><span ng-bind="vm.lastwinner"></span> hat das letzte Spiel gewonnen</h1>
<h2>Bestenliste:</h2>
<p ng-repeat="best in vm.bests">{{$index + 1}}. Name: {{best.name}}; Siege: {{best.siege}}</p>
<h2>Neues Spiel:</h2>
<form ng-show="!vm.running">
    Spieler1: <input ng-model = "vm.player1">
    Spieler2: <input ng-model = "vm.player2">
    <button ng-click="vm.startGame()">Starten</button>
</form>
<div ng-show="vm.running">
<h1>Toore</h1>
<h2><span ng-bind="vm.player1"></span> <span ng-bind="vm.torePlayer1"></span>:<span ng-bind="vm.torePlayer2"></span> <span ng-bind="vm.player2"></span></h2>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script src="bundle.js"></script>
</div>
</body>
</html>